/* strat navbar */

.navbar {
  background-color: rgba(7, 7, 7, 0.4);
}

.navbar .navbar-brand {
  padding-right: 12px;
  border-right: 1px solid #fff;
}
.navbar .navbar-brand h1 {
  color: #fff;
  font-size: 25px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.navbar .navbar-brand h1:hover {
  text-shadow: 10px 10px 20px white, -10px -10px 20px white;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-item {
  position: relative;
  margin-right: 12px;
}
.navbar .navbar-nav .nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: crimson;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-item .dropdown {
  width: 150px;
  padding: 10px 20px;
  background-color: rgba(7, 7, 7, 0.8);
  position: absolute;
  left: 0px;
  top: 45px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.navbar .navbar-nav .nav-item:hover .dropdown {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.navbar .navbar-nav .nav-item .dropdown li a {
  color: white;
}

.navbar .navbar-nav .nav-item .dropdown li {
  padding-bottom: 8px;
  position: relative;
}
.navbar .navbar-nav .nav-item .dropdown li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: crimson;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.navbar .navbar-nav .nav-item .dropdown li:hover::after {
  width: 100%;
}
.navbar .navbar-nav .nav-item .dropdown hr {
  color: #fff;
}

/* start casrule */
#carouselExampleIndicators {
  height: calc(100vh - 64px);
}
.carousel-inner {
  height: 100vh;
}

.carousel-inner .carousel-item .slider-text {
  text-align: center;
  padding: 30px 0;
  background-color: rgba(128, 128, 128, 0.8);
  width: 80%;
  position: absolute;
  top: 60%;
  left: 10%;
}
.carousel-inner .carousel-item img {
  height: calc(100vh - 64px);
}
#carouselExampleIndicators button[aria-current='true'] {
  background-color: crimson;
}

/* strat amin */
main {
  background-color: rgba(0, 0, 0, 0.8);
}

/* strat section one */
.one,
.tow {
  background-color: lightgray;
  border-bottom: 2px solid white;
}

.card h4 a {
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.card h4:hover a {
  color: gray;
}
.card button {
  width: fit-content;
  position: relative;
}

.card button span {
  padding: 10px;
  position: absolute;
  left: -20px;
  top: 50px;
  width: 100px;
  height: auto;
  background-color: red;
  opacity: 0;
  border-radius: 12px;
  transform: scale(0);
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.card button:hover span {
  color: #fff;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.accordion-flush .accordion-item .accordion-header {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.accordion-flush .accordion-item .accordion-header button:hover {
  background-color: black;
  color: white;
}

/* rest */
.rest {
  height: 300px;
  width: 100%;
  background-image: url(../img/1.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* basic */
.basic {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.basic h4 {
  background-color: gray;
  padding: 30px 0;
}
.basic .box {
  padding: 30px 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.basic .box img {
  border-radius: 20px;
  height: 300px;
}

/* rest2 */
.rest2 {
  padding: 0 !important;
  height: 200px;
  width: 100%;
  background-image: url(../img/rest2.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* teeam */

.team {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.team h4 {
  background-color: gray;
  padding: 30px 0;
  text-align: center;
}

.team .team1 {
  padding: 20px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.team .team1 img {
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;
}

/* teeam */

.join {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-bottom: 1px solid #fff;
}

.join h4 {
  background-color: gray;
  padding: 30px 0;
  text-align: center;
}

.join .item {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  font-size: 22px;

  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.join .item a {
  text-decoration: none;
  color: #fff;
}
.join .item i {
  margin: 15px 0;
  color: teal;
}

.join .item:hover {
  background-color: crimson;
  box-shadow: -1px 1px 10px 3px #fff;
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

footer h4 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}
